h1 {font-family: sans-serif; text-align:center;}
h2 {font-family: sans-serif; text-align:center;}
h3 {font-family: sans-serif; text-align:center;}
h4 {font-family: sans-serif; text-align:center;}
h5 {font-family: sans-serif; text-align:center;}
h6 {font-family: sans-serif; text-align:center;}
p {font-family: sans-serif; text-align:center;}

.blue_title {color:blue;}
.cap_letter {font-size: 150%;}
.red_letter {color: red;}
.green_letter {color: green;}
.blue_italic {font-style: italic; color:blue;}
.red_italic {font-style: italic; color:red;}

a {font-family:sans-serif; text-align: center;}

a:link {color: #F00}
a:visited {color: #0F0}
a:hover {color: #F0F}
a:active {color: #00F} 