.main {
    text-align: center;
}
.main ul {
    display: inline-table;
    margin: 0;
    padding: 0;
}
.main li {
    display: inline;
    padding: 2px 5px;
}

a {
    margin: 20px;
    font-size: large;
}

.assign_title{
    text-align: center;
}

/* MAIN MENU FYRIR OFAN */

body {
	max-width: 60em;
    margin: 0 auto;
    font-family: sans-serif;
}

.group{
    display: flex;
    flex-flow: row; 
}

.bigL{
    float: left;
    font-size: 120px;
    margin: 0 10px 0px 0;
    line-height: 75px;
}

.imgR{
    float: right;
    margin: 0 10px 0px 0;
}

.athugid{
    background: yellow;
    text-align: center;
}

.border{
    border: 2px solid black;
    padding: 0.8em;
}